*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
h1{
    color: blueviolet; text-decoration:underline;
    margin: 5px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background: linear-gradient(lightgreen, aquamarine,aqua);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    color: rgb(17, 17, 17);
    padding: 20px;
    width: 100%;
    opacity: 0.85;
    position: fixed;
    /* min-height: 0px; */
    z-index: 999;


}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: rgb(17, 17, 17);
    text-decoration:none;
    margin: 0 10px;
    text-transform: uppercase;
}

 a:hover{
   background: white;
   /* border: 5px; */
   border-radius: 3px;
   transition: .5s;
   padding: 5px;
 }
    
input{
    padding: 3px;
    /* opacity: 80%; */
    /* background-color: solid white; */
}

header .search-bar button {
    padding: 6px;
    background-color: #ffa41b;
    border: none;
    cursor: pointer;
}

.top-product{
    gap: 20px;
    padding: 40px;
    /* justify-content: space-around; */
}

.product-card {
    /* border: 1px solid#ddd; */
    padding: 10px;
    text-align: center;
}
.product-card img {
    max-width: 100%;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #4d59682a;
    color: rgb(119, 51, 128);
}



h1{
    margin-top: 80px;
    justify-content: space-between;
}
details{
    position:fixed; top:80px; right: 10px;
    background: #ddd;
    padding: 5px;
    z-index: 999;
}
select{
    position: fixed; top: 80px; right: 150px;
    padding: 5px;
    z-index: 999;

}
.buy-now{
    margin-top: 6px;
}
img:hover{
    transform: scale(1.1);
    transition: .5s;
}
.add-to-cart{
    padding: 4px;
}
img{
    filter: drop-shadow(10px 10px 20px rgb(153, 153, 153));
    /* overflow:initial; */
}







/* Container for the cards  */

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Individial card styling  */
.card{
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card p{
    font-size: 1rem;
    color: #555;

}

.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

@media (min-width: 375) {
    .card img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    
}
